@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

body {
  background-color: aqua;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upperNavbar {
  background-color: white;
  margin: 20px 20px 0 20px;
  padding: 29px 29px 0 29px;
  width: 317px;
}

.sub-container {
  background-image: url('images/header-shapes mobile@2x.png'), url('images/header-background-mobile.png');
  height: 718px;
  width: 375px;
  background-repeat: no-repeat;
  margin: 0 10px 10px 10px;
  padding-bottom: 10px;
}

.header {
  display: inline;
  height: 15px;
  width: 375px;
  margin-top: 120px;
}

.logo {
  margin-right: 180px;
  text-decoration: none;
  height: 76px;
  width: 20px;
  margin-top: 10px;
  margin-left: 12px;
  color: #6070ff;
}

.link {
  margin-right: 180px;
  text-decoration: none;
}

.heading {
  margin-bottom: 10;
  margin-top: 80px;
  text-align: left;
  height: 100px;
  width: 280px;
  padding: 20px;
  font-size: 35px;
}

.paragraph {
  margin-top: 5px;
  height: 90px;
  width: 330px;
  padding: 20px;
}

.connect {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.socials {
  height: 20px;
  margin: 20px 0 0 10px;
  padding: 10px;
}

.socialmedia {
  display: flex;
  column-gap: 22px;
  list-style-type: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.section1 {
  background-image: url('images/Snapshoot-Portfolio.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
  width: 290px;
}

.skills {
  display: flex;
  padding: 4px 12px;
  list-style-type: none;
  border-radius: 8px;
  color: #6070ff;
  gap: 20px;
}

.html-link {
  background-color: whitesmoke;
  padding: 4px;
  margin: 5px;
  border-radius: 10px;
}

.section2 {
  background-image: url('images/SnapshootPortfolio1.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
  width: 290px;
}

.section3 {
  background-image: url('images/SnapshootPortfolio2.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
  width: 290px;
}

.section4 {
  background-image: url('images/SnapshootPortfolio3.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
  width: 290px;
}

.tonic {
  background-color: whitesmoke;
  margin-top: 100;
  height: 650px;
  width: 375px;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.tonic-container {
  background-color: white;
  margin: 50px 25px 0 18px;
  padding: 16px;
  border-radius: 16px;
}

.tonic-title {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.tonic-button {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 10px;
}

.html-button {
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  fill: #ebebff;
}

.css-button {
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  fill: #ebebff;
}

.javascript-button {
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  fill: #ebebff;
}

.project-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
  border-radius: 10px;
  height: 50px;
  width: 140px;
  padding: 20px;
  border-color: #396df2;
  background-color: white;
  border-width: 1px;
}

.about-heading {
  text-align: left;
  height: 100px;
  width: 280px;
  font-size: 35px;
  margin: 25px 25px 0 0;
  padding: 20px;
}

.about {
  background-color: whitesmoke;
  margin-top: 100;
  height: 1150px;
  width: 375px;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.about-container {
  background-color: white;
  margin: 25px 25px 0 18px;
  padding: 20px;
  border-radius: 10px;
  height: 1080px;
}

.about-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 80px;
  border-radius: 7px;
  height: 40px;
  border-color: #396df2;
  border-width: 1px;
  background-color: white;
}

.about-button:hover {
  color: white;
  background-color: lightblue;
}

.about-button:active {
  color: white;
  background-color: blue;
}

.about-button:visited {
  color: white;
  background-color: green;
}

.languages {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0 0;
  padding: 10px 0 0 0;
  width: 250px;
}

li {
  text-decoration: none;
}

.programming-languages {
  background-color: #f7f7f9;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 30px 0 0 0;
  padding: 5px 5px;
}

.language1 {
  padding: 10px 30px 10px 30px;
}

.language-link {
  padding-top: 15px;
  margin-bottom: 0;
}

.language-icon {
  padding-top: 0;
  margin-left: 10px;
}

.line-width {
  width: 90%;
}
