.header {
  display: inline;
  height: 30px;
  width: 350px;
  margin-top: 140px;
}

.rectangle4 {
  top: 1700px;
  float: right;
  margin-right: 0;
}

.upperHeader {
  font-size: 20px;
  line-height: 14px;
  position: absolute;
  color: black;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 0;
}

.link {
  margin-right: 180px;
  text-decoration: none;
}

.flexend {
  justify-content: end;
}

.rectangle6 {
  float: left;
  margin-top: 1px;
}

.ellipse11 {
  float: left;
}

.ellipse3 {
  float: right;
}

.logo {
  margin-top: 50px;
  margin-left: 10px;
}

body {
  background-color: lightgray;
}

.container {
  background-image: url('images/header-background-mobile.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 715px;
}

.heading {
  margin-bottom: 0;
  margin-top: 146px;
  text-align: left;
  height: 100px;
  width: 330px;
}

.paragraph {
  margin-top: 0;
  height: 100px;
  width: 330px;
  text-align: start;
}

.connect {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.socials {
  margin-left: 2px;
  height: 20px;
  width: 330px;
}

.footer {
  display: grid;
  margin-top: 60px;
  height: 50px;
  width: 290px;
  grid-template-columns: 40px 30px 40px;
  column-gap: 80px;
}


.item1 {
  padding: 10px;
  margin-left: 30px;
  width: 80px;
}

.socialmedia {
  display: inline-flex;
  list-style-type: none;
  gap: 10px;
  margin: 0 20px 0 0;
}

ul {
  padding: 0;
}
